html
{
    /* Not showing anything in overflow, for some reason there was a scrollbar and now showing anything in overflow solved it. Huge thanks to https://stackoverflow.com/a/17756714 and https://www.tomred.net/css-html-js/disable-or-enable-horizontal-or-vertical-scrollbar.html for the guidance. */
    overflow-x: hidden;

    /* Everything was way to close on the left, just gave it a bit of a margin to look better. */
    margin-left: 1%;
}

body
{
    /* Changing the background color so it isn't white */
    background-color: #4710ba;

    /* Making the text color white so it's easier to see. Color contrast of 10.24 */
    color: white;

    /* Forcing the body to go to the entire height of the page, so it doesn't look like the page ends halfway through. */
    min-height: 100vh;
}

/* Any link, either in the body or in the nav, having it all here since they are all links and all the links should have the same color */
a, .nav a, .nav .brand, .nav a, .nav .active:not(.button)
{
    /* Changed color so that it's more visibility against the background. This has a color contrast of 4.11 */
    color: #10B6BC;
}

/* The container that the embed video is in, thanks to https://embedresponsively.com/ for this. */
.embed-container 
{ 
    position: relative; 

    /* That’s needed as a padding when the aspect ratio of a video is 16:9. (9 is 56.25% of 16). */
    padding-bottom: 56.25%;

    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 

/* The iframe, object and embed inside of the container where the embed video is, thanks to https://embedresponsively.com/ for this. */
.embed-container iframe, .embed-container object, .embed-container embed 
{ 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

/* Making embed video look good and viewable no matter the height of the screen.
Only if the screen height is between 100px and 480px does this take effect, the height's can be changed as needed.
Overwritting the padding-bottom, taking the entire viewport height (that is vh) and minus 2% from the bottom to leave enough for good white space. Which resizes the video to fit into that.
Thanks to https://www.w3schools.com/cssref/css3_pr_mediaquery.asp and https://stackoverflow.com/a/10441480 for the guidance and of course changed to fit my needs.  */
@media only screen and (min-height: 100px) and (max-height: 480px)
{
    .embed-container
    {
        padding-bottom: calc(100vh - 2%) !important;
    }
}

/* The right side where all the courses are listed */
.col-2
{
    /* Putting a solid black border around it to make it stand out. */
    border: solid black;
}